@font-face {
  font-family: ImperialScript;
  src: url("./assets/fonts/ImperialScript-Regular.ttf");
}

@import "tailwindcss";

@theme {
  --font-imperialscript: "ImperialScript";
}
html {
  scroll-behavior: smooth;
}

.nav-curved-slant {
  clip-path: path(
    "M 0,0 L 1536,0 L 1536,650 L 1150,650 A 100,50 0,0,0 1100,655 L 1000,700 A 100,100 0,0,1 950,710 L 600,710 A 100,100 0,0,1 550,700 L 450,655 A 100,50 0,0,0 400,650 L 0,650 Z"
  );
}

.nav-curved-slant-expanded {
  clip-path: path(
    "M 0,0 L 1536,0 L 1536,850 L 1150,850 A 100,50 0,0,0 1100,855 L 1000,900 A 100,100 0,0,1 950,910 L 600,910 A 100,100 0,0,1 550,900 L 450,855 A 100,50 0,0,0 400,850 L 0,850 Z"
  );
  transition: clip-path 0.6s ease;
}
:root {
  --edge: 60px;
}

.input-style {
  @apply flex-1 bg-white rounded-full px-4 py-2 outline-none w-full;
}

.pill {
  @apply bg-white rounded-full px-6 py-2;
}
